@font-face {
    font-family: 'Manrope';
    src: url('Manrope-Variable.ttf') format('truetype');
  }
  
  body {
    font-family: 'Manrope', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
  }
  
  h1 {
    font-size: 5rem;
    font-variation-settings: 'wght' 500;
    /* transition: font-variation-settings 0.3s ease; */
  }
  